h1,
h2,
h3,
ul,
p {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

body {
  background-color: #FFFFFF;
  color: #757575;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.container--nav {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav__logo {
  color: #2196F3;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.header-nav__logo--secondary {
  color: #000000;
}

.header-nav__list {
  display: flex;
  align-items: center;
  list-style: none;
  margin-left: 93px;
}

.header-nav__navigation-item:not(:last-child) {
  margin-right: 50px;
}

.header-nav__navigation_link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-property: color;
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.28px;
  text-decoration: none;
}
.header-nav__navigation_link:hover, .header-nav__navigation_link:focus {
  color: #2196F3;
}

.header-nav__navigation_link--current {
  color: #2196F3;
  position: relative;
}
.header-nav__navigation_link--current::after {
  position: absolute;
  content: "";
  border: 2px solid #2196F3;
  border-radius: 2px;
  width: 100%;
  bottom: -1px;
  left: 0;
  background-color: #2196F3;
}

.header-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
  list-style: none;
}

.header-contacts__item:last-child {
  margin-left: 30px;
}

.header-contacts__link {
  align-items: center;
  display: flex;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-property: color;
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.header-contacts__link:hover, .header-contacts__link:focus {
  color: #2196F3;
}

.header-contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.head {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/head.jpg);
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1600px;
  margin-inline: auto;
  color: #FFFFFF;
  background-color: #2F303A;
  text-align: center;
}

.container--head-box {
  padding-top: 200px;
  padding-bottom: 200px;
}
@media screen and (min-width: 480px) {
  .container--head-box {
    height: 400px;
    padding-top: 118px;
    padding-bottom: 118px;
  }
}
@media screen and (min-width: 768px) {
  .container--head-box {
    height: 400px;
    padding-top: 118px;
    padding-bottom: 118px;
  }
}
@media screen and (min-width: 1200px) {
  .container--head-box {
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.head__title {
  margin-bottom: 30px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}
@media screen and (max-width: 1199px) {
  .head__title {
    font-size: 26px;
    line-height: 1.62;
  }
}
@media screen and (min-width: 1200px) {
  .head__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.head__button {
  border: none;
  text-decoration: none;
  padding: 10px 32px;
  text-align: center;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-property: background-color;
  color: #FFFFFF;
  background-color: #2196F3;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  min-height: 50px;
  min-width: 200px;
  letter-spacing: 0.06em;
}
.head__button:hover {
  background-color: #188CE8;
}

@media screen and (max-width: 1199px) {
  .advantages {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.advantages__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages__list {
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.advantages__item:not(:last-child) {
  margin-bottom: 30px;
}

.advantages__icon-box {
  display: flex;
  background-color: #F5F4FA;
  justify-content: center;
  margin-bottom: 30px;
  border-radius: 4px;
  align-items: center;
  padding: 25px 0px;
}

.advantages__item-title {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}

.advantages__text {
  font-size: 14px;
  line-height: 1.71;
}

.our-work {
  padding-top: 0px;
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .our-work {
    display: none;
  }
}

.our-work__title {
  color: #212121;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}

.our-work__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.our-work__item {
  position: relative;
  width: 370px;
}

.our-work__image {
  display: block;
}

.our-work__description {
  position: absolute;
  bottom: 0;
  padding: 27px 0px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.our-team {
  background-color: #F5F4FA;
}
@media screen and (max-width: 1199px) {
  .our-team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .our-team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.our-team__title {
  color: #212121;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .our-team__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.our-team__list {
  list-style: none;
}

.our-team__teammate {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #FFFFFF;
}
.our-team__teammate:not(:last-child) {
  margin-bottom: 30px;
}

.our-team__image {
  display: block;
  width: calc(100vw - 30px);
  max-width: 450px;
  height: 460px;
}

.our-team__teammate-box {
  padding-top: 30px;
  padding-bottom: 24px;
  text-align: center;
}

.our-team__name {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.our-team__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}

.our-team__social-list {
  margin-top: 16px;
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 10px;
}

.our-team__social-item {
  width: 44px;
  height: 44px;
}

.our-team__social-link {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-property: background-color;
}
.our-team__social-link:focus, .our-team__social-link:hover {
  background-color: #2196F3;
}

.our-team__social-icon {
  fill: #AFB1B8;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-property: fill;
}
.our-team__social-link:focus .our-team__social-icon, .our-team__social-link:hover .our-team__social-icon {
  fill: #FFFFFF;
}

@media screen and (max-width: 1199px) {
  .clients {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}
@media screen and (max-width: 1199px) {
  .clients__title {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  gap: 30px;
}

.clients__client {
  width: calc((100% - 30px) / 2);
  height: 92px;
}

.clients__link {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-property: border-color;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
}
.clients__link:focus, .clients__link:hover {
  border-color: #2196F3;
}

.clients__icon {
  fill: #AFB1B8;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-property: fill;
}
.clients__link:focus .clients__icon, .clients__link:hover .clients__icon {
  fill: #2196F3;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-property: opacity, visibility;
}

.backdrop.is-hidden {
  pointer-events: none;
  opacity: 0;
}

/* Modal window */
.modal-window {
  max-width: 450px;
  width: calc(100% - 30px);
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #FFFFFF;
}
@media screen and (min-width: 1200px) {
  .modal-window {
    width: 528px;
  }
}

.modal-window__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  object-fit: contain;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: #FFFFFF;
}

.modal-window__close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window__close-icon:hover, .modal-window__close-icon:focus {
  fill: #2196F3;
}

.modal-window__title {
  margin-bottom: 12px;
  color: #212121;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.48px;
}

.modal-window__label {
  display: block;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.modal-window__input-box {
  display: flex;
  position: relative;
  margin-bottom: 10px;
  display: flex;
  height: 40px;
  align-items: center;
}
.modal-window__input-box:focus-within {
  fill: #2196F3;
}

.modal-window__input {
  width: 100%;
  height: 100%;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-property: border-color;
  outline: none;
}
.modal-window__input:focus {
  border-color: #2196F3;
}

.modal-window__icon {
  position: absolute;
  left: 12px;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-property: fill;
  color: #212121;
}

.modal-window__input-box--comments {
  min-height: 120px;
  margin-bottom: 20px;
}

.modal-window__comments {
  resize: none;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 100%;
  outline: none;
  padding: 12px 16px;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-property: border-color;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}
.modal-window__comments:focus {
  border-color: #2196F3;
}

/* Checkbox  */
.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox__label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 425px;
  cursor: pointer;
  margin-inline: auto;
}

.checkbox__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkbox__icon {
  border: 2px solid #212121;
  border-radius: 4px;
  margin-right: 8px;
  fill: #FFFFFF;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-property: background-color;
}
.checkbox__input:checked + .checkbox__icon {
  background-color: #2196F3;
  border: none;
  background-origin: border-box;
}
.checkbox__input:focus + .checkbox__icon {
  border-color: #188CE8;
}

.checkbox__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.checkbox__link {
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: underline;
  color: var(--button-bg-color);
}

/* Modal Button */
.modal-window__submit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  min-height: 50px;
  margin-top: 30px;
  margin-inline: auto;
  margin-bottom: 0;
  background-color: #2196F3;
  color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}
.modal-window__submit:hover, .modal-window__submit:focus {
  background-color: #188CE8;
}

.footer-main {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
}

@media screen and (min-width: 768px) {
  .container--footer-main {
    display: flex;
    align-items: baseline;
  }
}

.adress-footer {
  width: 231px;
}
@media screen and (max-width: 768px) {
  .adress-footer {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 1199px) {
  .adress-footer {
    margin-bottom: 60px;
  }
}

.adress-footer__logo {
  margin-bottom: 20px;
  display: block;
  text-decoration: none;
  color: #2196F3;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
@media screen and (max-width: 1199px) {
  .adress-footer__logo {
    text-align: center;
  }
}

.adress-footer--logo-secondary {
  color: #FFFFFF;
}

.adress-footer__data {
  color: #FFFFFF;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
@media screen and (max-width: 1199px) {
  .adress-footer__data {
    text-align: center;
  }
}

.adress-footer__text {
  margin-bottom: 9px;
}

.adress-footer__list {
  list-style: none;
}

.adress-footer__item {
  list-style: none;
}
.adress-footer__item:first-child {
  margin-bottom: 8px;
}

.adress-footer__link {
  color: rgba(255, 255, 255, 0.6);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-property: color;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.adress-footer__link:hover, .adress-footer__link:focus {
  color: #2196F3;
}

.footer-join {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.footer-join__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.footer-join__social-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.footer-join__social-item {
  height: 44px;
  width: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.footer-join__social-link {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-property: background-color;
}
.footer-join__social-link:hover, .footer-join__social-link:focus {
  background-color: #2196F3;
}

.footer-join__social-icon {
  fill: #FFFFFF;
}

.footer-subscribe {
  width: 100%;
}

.footer-subscribe__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-subscribe__label {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-subscribe__mail-section {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.footer-subscribe__input {
  width: 100%;
  max-width: 450px;
  padding-inline: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #2F303A;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  margin-bottom: 20px;
}

.footer-subscribe__button {
  display: flex;
  width: 200px;
  height: 50px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #FFFFFF;
  background-color: #2196F3;
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
}

.footer-subscribe__icon {
  margin-left: 10px;
  fill: #FFFFFF;
}

.projects {
  padding-top: 94px;
  padding-bottom: 94px;
}

.projects__filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  list-style: none;
}

.projects__filter-item:not(:last-child) {
  margin-right: 8px;
}

.projects__filter-button {
  border: none;
  padding: 6px 22px;
  border-radius: 4px;
  color: #212121;
  background-color: #F5F4FA;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-property: color, background-color, box-shadow;
}
.projects__filter-button:hover, .projects__filter-button:focus {
  background-color: #2196F3;
  color: #FFFFFF;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.projects__item {
  margin-right: 30px;
  margin-bottom: 30px;
}
.projects__item:nth-child(3n) {
  margin-right: 0px;
}
.projects__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.projects__link {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-property: box-shadow;
}
.projects__link:hover, .projects__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__hover-box {
  position: relative;
  display: flex;
  overflow: hidden;
}

.projects__hover-box-img {
  display: block;
}

.projects__hover-box-text {
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  opacity: 0;
  top: 100%;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-property: transform;
}
.projects__link:hover .projects__hover-box-text, .projects__link:focus .projects__hover-box-text {
  opacity: 1;
  transform: translateY(-100%);
}

.projects__title-box {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid #EEEEEE;
  border-top: none;
}

.projects__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: #212121;
}

.projects__subtitle {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}/*# sourceMappingURL=main.css.map */