.projects__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.projects__item {
    margin-right: 30px;
    margin-bottom: 30px;
    &:nth-child(3n) {
        margin-right: 0px;
    }
    &:nth-last-child(-n+3) {
        margin-bottom: 0;
    }
}


.projects__link {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    transition-property: box-shadow;
    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}


.projects__hover-box {
    position: relative;
    display: flex;
    overflow: hidden;
}

.projects__hover-box-img {
    display: block;
}

.projects__hover-box-text {
    position: absolute;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    opacity: 0;
    top: 100%;

    color: $additionat-text-color;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    background-color: rgba(33, 150, 243, 0.9);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    transition-property: transform;
    .projects__link:hover &,
    .projects__link:focus & {
        opacity: 1;
        transform: translateY(-100%);
    }
}



.projects__title-box {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;

    border: 1px solid #EEEEEE;
    border-top: none;
}

.projects__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
    color: $title-text-color;
}

.projects__subtitle {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: $primary-text-color;
}