.footer-join {
    margin-left: 70px;
}

.footer-join__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $additionat-text-color;
    margin-bottom: 20px;
}

.footer-join__social-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.footer-join__social-item {
    height: 44px;
    width: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

.footer-join__social-link {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    transition-property: background-color;
    &:hover,
    &:focus {
        background-color: $button-bg-color;
    }
}



.footer-join__social-icon {
    fill: $additionat-text-color;
}
