h1,
h2,
h3,
ul,
p {
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
}

body {
    background-color: $background-color;
    color: $primary-text-color;
    font-family: $Primaryfont;
    letter-spacing: 0.03em;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}