h1,
h2,
h3,
ul,
p {
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
}

body {
    background-color: $background-color;
    color: $primary-text-color;
    font-family: $Primaryfont;
    letter-spacing: 0.03em;
    @media screen and (max-width: 767px) {
    &.menu-open {
                overflow: hidden;
            }
    }
    &.modal-open {
        overflow: hidden;
    }
}


.container {
    // width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    
    @media screen and (min-width: $mobile) {
            width: $mobile;
        }
    
    @media screen and (min-width: $tablet) {
            width: $tablet;
        }
    
    @media screen and (min-width: $desktop) {
            width: $desktop;
        }
}