.header {
    border-bottom: 1px solid $bottom-border-header;
}

.container--nav {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-nav__logo {
    color: $accent-text-color;
    font-family: $Secondaryfont;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.header-nav__logo--secondary {
    color: #000000;
}