.header-contacts {
    display: flex;
    align-items: center;
    margin-left: auto;
    list-style: none;
}

.header-contacts__item {
    &:last-child {
            margin-left: 30px;
        }
}


.header-contacts__link {
    align-items: center;
    display: flex;

    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    transition-property: color;

    color: var(--primary-text-color);
    font-family: $Primaryfont;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    &:hover,
    &:focus {
            color: $accent-text-color;
        }
}

.header-contacts__icon {
    margin-right: 10px;
    fill: currentColor;
}