// Colors
$primary-text-color: #757575;
$title-text-color: #212121;
$accent-text-color: #2196F3;
$additionat-text-color: #FFFFFF;
$button-text-alternative-color: #FFFFFF;
$link-main-color: #AFB1B8;

$background-color: #FFFFFF;
$background-color-special: #2F303A;
$our-team-bg-color: #F5F4FA;

$portfolio-button-background: #F5F4FA;
$primary-botton-hover: #188CE8;

$footer-adress-color: rgba(100%, 100%, 100%, 60%);
$bottom-border-header: #ECECEC;
$button-bg-color: #2196F3;

$clients-order: #AFB1B8;
$modal-window-bg-color: rgba(0, 0, 0, 20%);
// Fonts
$Primaryfont: 'Roboto', sans-serif;
$Secondaryfont: 'Raleway',sans-serif;