.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $modal-window-bg-color;

    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    transition-property: opacity, visibility;
}

.backdrop.is-hidden {
    pointer-events: none;
    opacity: 0;
}