.advantages {
    padding-top: 94px;
    padding-bottom: 94px;
}

.advantages__title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.advantages__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.advantages__item {
    width: 270px;
    &:not(:last-child) {
    margin-right: 30px;
    }
}


.advantages__icon-box {
    display: flex;
    width: 270px;
    height: 120px;
    background-color: $our-team-bg-color;
    justify-content: center;
    margin-bottom: 30px;
    border-radius: 4px;
    align-items: center;
}

.advantages__item-title {
    margin-bottom: 10px;

    color: $title-text-color;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.advantages__text {
    font-size: 14px;
    line-height: 1.71;
}