.head {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/head.jpg);
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1600px;
    // height: 600px;
    margin-inline: auto;
    // padding-top: 200px;
    // padding-bottom: 200px;

    color: $additionat-text-color;
    background-color: $background-color-special ;
    text-align: center;

    // @media screen and (min-width: 480px) {
    //         height: 400px;
    //         padding-top: 118px;
    //         padding-bottom: 118px;
    //     }
    
    //     @media screen and (min-width: 768px) {
    //         height: 400px;
    //         padding-top: 118px;
    //         padding-bottom: 118px;
    //     }
    
    //     @media screen and (min-width: 1200px) {
    //         height: 600px;
    //         padding-top: 200px;
    //         padding-bottom: 200px;
    //     }
}
.container--head-box {
    padding-top: 200px;
    padding-bottom: 200px;
    @media screen and (min-width: 480px) {
            height: 400px;
            padding-top: 118px;
            padding-bottom: 118px;
        }
        
        @media screen and (min-width: 768px) {
            height: 400px;
            padding-top: 118px;
            padding-bottom: 118px;
        }
        
        @media screen and (min-width: 1200px) {
            height: 600px;
            padding-top: 200px;
            padding-bottom: 200px;
        }
}

.head__title {
    margin-bottom: 30px;

    font-weight: 900;
    
    // font-size: 44px;
    // line-height: 1.36;

    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    @media screen and (max-width: 1199px) {
        font-size: 26px;
        line-height: 1.62;
    }
    @media screen and (min-width: 1200px) {
        font-size: 44px;
        line-height: 1.36;
    }
}

.head__button {
    border: none;
    text-decoration: none;
    padding: 10px 32px;
    text-align: center;

    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    transition-property: background-color;

    color: $additionat-text-color;
    background-color: $accent-text-color;
    border-radius: 4px;


    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    min-height: 50px;
    min-width: 200px;
    letter-spacing: 0.06em;
    &:hover {
        background-color: $primary-botton-hover;
    }
}
